<link rel="stylesheet" type="text/css" href="./css/lib/font-awesome.min.css" />

<div class="wrapper">
    <div class="pull-right"> <a href="#" id="createQstn" class="btn btn-blue"> Create Question </a></div>
    <div class="qstn-list-container"> 
        <table>
            <thead>
                <tr> 
                <th> </th>
                <th> </th>
                <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <a href="#" class="edit"> <i class="fa fa-pencil fa-lg"></i> </a> </td>
                    <td> <a href="#"  class="delete"> <i class="fa fa fa-trash-o fa-lg"></i> </a> </td>
                    <td> This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 </td>
                </tr>
                <tr>
                    <td> <a href="#" class="edit"> <i class="fa fa-pencil fa-lg"></i> </a> </td>
                    <td> <a href="#"  class="delete"> <i class="fa fa fa-trash-o fa-lg"></i> </a> </td>
                    <td> This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1  </td>
                </tr>
                <tr>
                    <td> <a href="#" class="edit"> <i class="fa fa-pencil fa-lg"></i> </a> </td>
                    <td> <a href="#"  class="delete"> <i class="fa fa fa-trash-o fa-lg"></i> </a> </td>
                    <td> This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1 This is qstn 1  </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style type="text/css">
    .wrapper {
        margin-top: 20px;
        font-family: monospace;
        font-size: 20px;
    }
    .pull-left {
        float: left;
    }
    .pull-right {
        float: right;
    }
    .btn {
        text-decoration: none;
        list-style: none;
        color: #fff;
        padding: 10px 25px;
        border-radius: 2px;
    }
    .btn-blue {
        border: 1px solid#08516d;
        background: #005677;
    }
    .qstn-list-container {
        min-width: 1000px;
        margin: auto;
    }
    table {
        width: 100%;
    }
    td {
        border-left: 1px solid #eaebef;
        border-bottom: 1px solid #eaebef;
    }
    .edit {
        color: #1C9FFF
    }
    .delete {
        color: #EE2B4B;
    }
</style>
