<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src=".\js\lib\jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src=".\js\lib\angular.min.js"></script>
  </head>
  <body ng-app="loginApp">
    <!-- <header> <h1> ******************* This is header **********************</header> -->
    <!-- <section> -->
      <%-body -%>
    <!-- </section> -->
    <!-- <footer> <h3> -------------------- this is footer ---------------------</footer> -->
  </body>
</html>